.viewport-container{
    position: sticky; 
    margin: 10% auto;
    border: solid black 10px;
    width: 50%;
    height: 200px;
}

body{
    margin: 0 auto;
   

}
section{
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;
}
.scene1{
 
   background-color: skyblue;
   
    h1{
        color: white;
        font-size: 5vw;
        margin-left: 3vw; 
        animation: opacityoff 4s ease-out infinite;
        animation-delay: 4s;
        font-family: sans-serif;
    }
    .backwave{
       position: absolute;
       bottom: 1vh;
       animation: rotatewave infinite 12s;
    }
    .frontwave{
        position: absolute;
        bottom: -1vh;
        animation: movewave infinite 8s;
        transform-origin: center;
        width: 120%;
    }
    
}
.scene2{
    background-color: red;
   
}
.scene3{
    background-color: yellow;
}
@keyframes opacityoff{
    0%{opacity: 100%;}
    100%{opacity: 0;}
}


@keyframes rotatewave{
    0%{rotate: 0deg;}
    33%{rotate: 5deg;}
    66%{rotate: -5deg;}
    100%{rotate: 0deg;}
    
}

@keyframes movewave{
    0%{transform: translateX(0vw)}
    50%{transform: translateX(-6vw)}
    100%{transform: translateX(0vw)}
}
